<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/logo.png') }}" style="vertical-align: middle ; width: 80px;" >
        Weekly Report
    </h2>
    <nav>
        <ul>
            
            {% if current_user.is_authenticated %}
                {% if current_user.name == "Admin" %}
                    <li><a href="{{ url_for('search') }}">Home</a></li>
                {% else %}
                    <li><a href="{{ url_for('work') }}">Home</a></li>
                {% endif %}
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2019 <a href="http://www.bea-asiapacific.com/zh/">BEA China</a></small>
	</footer>
</body>
</html>